In [63]:
list=['banana','watermelon','pomegranate','cherry','apple']
print(list[3])         

## here the third fruit is cherry

cherry

In [64]:
num=[1,2,3]
num1=[4,5,6]
num2=num+num1
print(num2)

[1, 2, 3, 4, 5, 6]

In [65]:
numbers=[1,2,3,4,5,6]
numbers[1]
numbers[3]
numbers[5]

6

In [66]:
movies=['Fast&Furious','Mask','Rushhour','Taxi','Abdulhamidxon2']
x=tuple(movies)
type(x)

TypeError: 'tuple' object is not callable

In [ ]:
city=['NewYork','Paris','Medina','Madrid','Rome']

if 'Paris' in city:
    print('Yes it exists')
else:
    print('No it does not exist')

Yes it exists

In [ ]:
list=[1,2,3,4,5]
duplicated=numbers * 2
print(duplicated)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [ ]:
numbers=[10,20,30,40,50]
numbers[0],numbers[-1]=numbers[-1],numbers[0]
print(numbers)

[50, 20, 30, 40, 10]

In [ ]:
mytuple=(1,2,3,4,5,6,7,8,9,10)
mytuple[3:7]

(4, 5, 6, 7)

In [ ]:
colors=['blue','red','black','white','blue','orange','brown','yellow']
colors.count("blue")

2

In [ ]:
animals=('cat','dog','lion','flamingo','tiger')
animals.index('lion')

2

In [ ]:
my_tuple=(1,2,3,4,5)
tuple=(6,7,8,9)
combined=my_tuple+tuple
print(combined)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
list=['gentra','spark','cobalt','nexia','trecker']
print(len(list))

tuple=(1,2,3,45,6,7,89,23,11,19,10)
print(len(tuple))

5
11

In [ ]:

my_tuple = ('a', 'b', 'r', 'c', 'i', 'e')
x = list(my_tuple)
print(x)
print(type(x))

['a', 'b', 'r', 'c', 'i', 'e']
<class 'list'>

In [ ]:
tuples=(12,56,3,45,99,10,17)
print(max(tuples))
print(min(tuples))

99
3

In [70]:
names = ('Kamran','Aziz','MirAli','Azizbek')
print(names[::-1])

('Azizbek', 'MirAli', 'Aziz', 'Kamran')