In [1]:
a=2025
b=2003
age=a-b
print(a-b)

22

In [2]:
txt = 'LMaasleitbtui'

txt[1:12:2]

'Malibu'

In [33]:
txt1 = 'MsaatmiazD'
txt1[0:9:2]

'Matiz'

In [34]:
txt2 = "I'am John. I am from London"
len(txt2)
txt2[21]

txt2[21:27]

'London'

In [35]:
country="Uzbekistan"
country[::-1]

'natsikebzU'

In [97]:
word3="car"
vowel_count=sum(1 for letter in word3 if letter.lower() in "aeiou")
print(f"'{word3}':{vowel_count}")

word4="mersedes"
vowel_count=sum(1 for  letter in word4 if letter.lower() in"aeiou")
print(f"'{word4}':{vowel_count}")


club="RealMadrid"
vowel_count=sum(1 for letter in club if letter.lower() in "aeiou")
print(f"'{club}':{vowel_count}")

city="Medina"
vowel_count=sum(1 for letter in city if letter.lower() in "aeiou")
print(f"'{city}':{vowel_count}")

'car':1
'mersedes':3
'RealMadrid':4
'Medina':3

In [98]:
numbers=[1,10,25,54,45]

print(max(numbers))

54

In [99]:
word = "town"

if word == word[::-1]:
    print(f"'{word}' is a palindrome!")
else:
    print(f"'{word}' is not a palindrome.")


    word1="racecar"
    if word1==word1[::-1]:
        print(f"'{word1}' is a palindrome!")
    else:
        print(f"'{word1}' is not a palindrome!")

'town' is not a palindrome.
'racecar' is a palindrome!

In [100]:
email="kamranmatnazarov7@gmail.com"

len(email)
email[18]
position=email.index("g")

position

email[18:]

'gmail.com'

In [3]:
password="w124_1995e_500"
password

'w124_1995e_500'

In [19]:
word="hi"
word.upper()

word1="HI"
word.lower()

word2="strong"


text="Muhammad ibn Abdulloh"
text.split()

text1=["Muhammad","Ibn","Abdulloh"]
text.split()




list=["Nur","Furniture"]
" ".join(list)


list1=["Maksam","Chirchik"]

" ".join(list1)

'Maksam Chirchik'