In [12]:
s="hello"
modified=s[:3]+"_"+s[3:]
print(modified)

b="assalom"
modified1=b[:3]+"_"+b[3:]
print(modified1)

c = "abcabcabcdeabcdefabcdef"
modified = c[:3] + "_" + c[3:6] + "_" + c[6:10] + "_" + c[10:14] + "_" + c[14:]
print(modified)

hel_lo
ass_alom
abc_abc_abcd_eabc_defabcdef

In [15]:
n = 5
for i in range(5):
    print(i ** 2)

0
1
4
9
16

In [21]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [47]:
line = 1
while line <= 5:
    num = 1
    while num <= line:
        print(num, end=" ")  # print on the same line with space
        num += 1
    print()  # move to next line
    line += 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [26]:
number=[1,2,3,4,5,6,7,8,9,10]
sum(number)

55

In [37]:

n = 2
i = 1
while i <= 10:
    print(f'{n}*{i} = {n * i}')
    i += 1

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20

In [41]:
numbers = [12, 75, 150, 180, 145, 525, 50]
to_print = [75, 150, 145]

for num in numbers:
    if num in to_print:
        print(num)

75
150
145

In [46]:
num=[7,5,8,6,9]
len(num)

5

In [53]:
rows = 5
while rows >= 1:
    num = 1
    while num <= rows:
        print(num, end=" ")
        num += 1
    print()
    rows -= 1

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [61]:
num = 50
while num >= 10:
    print(num)
    num -= 10

50
40
30
20
10

In [67]:
num1=-10
for i in range(-10,0):
    print(num1)
    num1+=1

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [78]:
for i in range(5):
    print(i)
print("Done")

0
1
2
3
4
Done

In [80]:
for i in range(25,50):
    print(i)

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [82]:
list1=[1,1,2]
list2=[2,3,4]

set1=set(list1)
set2=set(list2)
diff=set1^set2
print(diff)

{1, 3, 4}

In [84]:
list=[1,2,3]
list1=[4,5,6]
s=set(list)
s1=set(list1)
diff=s^s1
print(diff)

{1, 2, 3, 4, 5, 6}

In [88]:
list1 = [1, 1, 2, 3, 4, 2]
list2 = [1, 3, 4, 5]

a=set(list1)
a1=set(list2)

diff=a^a1
print(diff)

{2, 5}